.header {
  background-color: #F5F5F5;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #d3d3d3;
}

h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
}

h1 sub {
  font-size: 16px;
}

@media(max-width: 756px) {
  h1 {
    font-size: 40px;
  }

  h1 sub {
    font-size: 12px;
  }

  .header em {
    font-size: 14px;
  }
}

h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

p, ul {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

a {
  font-weight: bold;
}

.examples-table td {
  white-space: pre;
}

.first-curly {
  position: relative;
  left: -4px;
  top: -8px;
  color: #253E66;
}

.second-curly {
  position: relative;
  left: 4px;
  top: 8px;
  color: #EF6555;
}

td {
  font-family: monospace;
  white-space: pre;
}

#grammar {
  max-width: 300px;
  font-family: monospace;
}

.site-nav {
  padding: 12px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fefefe;
}

.site-nav div div a {
  display: inline-block;
  width: 78px;
  color: #253E66;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.site-nav div div a i {
  color: #b4b4b4;
}

textarea.form-control{
    height:400px;
}

.btnGenerate {
  margin:0 42%;
  background: #337ab7;
  background-image: -webkit-linear-gradient(top, #337ab7, #337ab7);
  background-image: -moz-linear-gradient(top, #337ab7, #337ab7);
  background-image: -ms-linear-gradient(top, #337ab7, #337ab7);
  background-image: -o-linear-gradient(top, #337ab7, #337ab7);
  background-image: linear-gradient(to bottom, #337ab7, #337ab7);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  border: solid #ffffff 2px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnGenerate:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

td{
    white-space:nowrap;
    text-align:center;
}