<html>
  <head>
    <title>JSchema</title>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png" />
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>

    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="row">
      <div class="col-12-md">
        <div class="text-center header">
          <h1><span class="first-curly">{</span><span class="second-curly">}</span> JSchema<sub>v2.0.1</sub></h1>

          <p><em class="text-muted">"Simplicity is a prerequisite for reliability."</em></p>
        </div>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>
  </body>
</html>